<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente List</title>
</head>
<body>


    <h1>Clientes</h1>
    <ul>
        {% for Cliente in object_list %}

            <li>
                <p>Nombre: {{Cliente.nombre}} </p>
                <p>
                    <a href="{% url 'Detail' Cliente.id %}">Ver</a>
                    <a href="{% url 'Edit' Cliente.id %}">Editar</a>
                    <a href="{% url 'Delete' Cliente.id %}">Borrar</a>
                </p>
            </li>
        
        {% endfor %}    
    </ul>

</body>
</html>