<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda de Clientes</title>
</head>
<body>
    <p>Estamos buscando el cuit:{{cuit}}</p>
    {%if cliente%}
    <ul>
    {%for cliente in clientes%}
        <li>{{cliente.nombre}}</li>
        <li>{{cliente.cuit}}</li>
    {%endfor%}
    
    </ul>
    
    {%else%}
    <p>No hay datos con esa descripcion</p>
    
    {%endif%}        

</body>
</html>